<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <title>Game City Comic Store LOGIN</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/signin.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body class="text-center">

  <div class="container-fluid">
    <div class="row">
      <!-- Columna de Login -->
      <div class="col-md-6">
        <main class="form-signin text-center shadow-lg p-3 mb-5">
          <form id="formLogin" action="/login" method="POST">
            <img class="mb-4" src="img/305454525_500236702106121_2115306775009528623_n.jpg/" alt="Game City Comic Store Logo" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
              <label for="email">Email</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
              <label for="Pass">Password</label>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
          </form>
          <div class="mb-2"></div>
          <a href="/register" type="button" class="w-100 btn btn-lg btn-secondary">Registrarse</a>
        </main>
      </div>

      <!-- Columna de Imagen y Título -->
      <div class="col-md-6">
        <div class="text-center">
          <img src="img/Game-city-logo-webretina.jpg" alt="Game City Comics Store" class="img-fluid">
          <h2 class="h3 mb-3">GAME CITY COMICS STORE</h2>
          <p>REGISTRATE PARA VER LAS NOVEDADES</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(alert) { %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alertIcon %>',
        showConfirmButton: '<%= showConfirmButton %>',
        timer: '<%= timer %>'
      }).then(()=>{
        window.location = "/<%= ruta %>"
      })
    </script>
  <% } %>

</body>
</html>